langchain
langchain-community
langchain-openai
langchain-groq
langchain-text-splitters
langchain-huggingface
langchain-core
faiss-cpu
pypdf
python-dotenv
streamlit
openai
sentence-transformers
langchain
langchain-community
langchain-openai
langchain-groq
langchain-text-splitters
langchain-huggingface
langchain-core
faiss-cpu
pypdf
python-dotenv
streamlit
openai
sentence-transformers
huggingface-hub
torch
transformers